/* Scss Document */

/* Main */
$color-bg-primary: #FFFFFF;
$color-bg-secondary: #F5F5F5;
$color-text-title: #434343;
$color-text-primary: #232323;
$color-text-secondary: #FFFFFF;

/* Header Colors */
$color-header-bg: #232323;
$color-header-text: #FFFFFF;
$color-header-text-name: #EF4F51;

/* Navbar */
$color-navbar-bg: #FFFFFF;
$color-navbar-text-primary: #434343;
$color-navbar-text-active: #EF4F51;
$color-navbar-text-hover: #FF1317;
$color-navbar-bottom-border: #D83C3F;

/* Links */
$color-links: #EF4F51;
$color-links-hover: #FF1317;

/* Skills */
$color-skills-text-bg: #D83C3F;
$color-skills-text: #FFFFFF;
$color-skills-bar: #EF4F51;
$color-skills-bar-bg: #E1E1E1;
$color-skills-bar-text: #232323;
$color-skills-bar-text-border: #C1C1C1;

/* Tabs - Portfolio and Hobbies */
$color-tabs-bg: #D83C3F;
$color-tabs-active: #FFFFFF;

/* Contact */
$color-contact-bg: #303030;
$color-contact-text: #FFFFFF;
$color-contact-text-details: #E2E2E2;
$color-contact-form: #434343;
$color-contact-form-text: #E1E1E1;

/* Contact / Footer Arrow to go to top */
$color-arrow-top: #FFFFFF;
$color-arrow-top-bg: #D83C3F;
$color-arrow-top-bg-hover: #EF4F51;

/* Footer */
$color-footer-bg: #232323;
$color-footer-text-primary: #FFFFFF;
$color-footer-text-secondary: #EF4F51;